*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    height: 100vh;
    background-color: #242424;
    justify-content: space-between;
}

/* middle */
.middle{
    flex: 0.6;    
}
.middle{
    display: none;
}

/* middle1 */
.middle1{
    flex: 0.95; 
}
.middle1no{
    display: none;
}