*{
    padding: 0;
    margin: 0;
}
.body{
    height: 350px;
    background-image: url('../../icons/profileBackground.png');
    background-size: cover;
    display: flex;
}
.profile_pic{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_pic img {
    height: 300px;
    width: 300px;
    border-radius: 30px;
}
.profile_info{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.profile_info p{
    margin-top: 10px;
}