*{
    margin: 0;
    padding: 0;
}
.containerStyles {
    height: 160px;
    width: 100px;
    background-color: #e0e0de;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
  }

  .labelStyles  {
    padding: 5;
    color: white;
    font-weight: bold;
  }
  